*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#6F4E37;
    border: 1.5px solid black;
    padding: 1vw;
    justify-content: space-between;
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    gap: 20px;

}

.nav_primeira{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulocor{
    color: #e4c0a8;
    text-decoration: none;
}

.pesquisa_bar{
    display: flex;
    background-color: beige;
    border: solid 5px;
    border-radius: 20px;
    justify-content: space-between;

}

#lupa_imagem {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    justify-content: space-between;
    width: 25px;
}

#lupa_imagem img{
    width: 100%;
}

.butao-user {
    width: 40px;
    height: 35px;
    background-color: #6F4E37;
    border-radius: 40px;
    margin-left: 5px;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.butao-user:hover{
    transform: scale(1.05);
}

.butao-user img{
    width: 35px;
}

main{
    display: flex;
    flex-direction: row;
    background-color: #B87333;
    height: 600px;
}

  
/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
  
.section {
    width: 300px;
    margin: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    padding: 30px;
    text-align: center;
    background-color: #96541E;
}
  
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: aliceblue;
}
  
.image-container {
    margin-bottom: 30px;
}
  
.image {
    width: 50%;
    height: auto;
}
  
.text {
    font-size: 12px;
    line-height: 1;
    color: aliceblue;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: 80px;
}

.linha {
    background-color: #a35e29;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col {
    flex: 1;
    margin-right: 15px;
}

.titulos {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.texto h4 {
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a:hover {
    color: #0044cc;
    text-decoration: none;
}

.linha + .linha {
    margin-top: 20px;
}

.linha{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0.5px solid black;
    align-items: center;
    background-color: #a35e29;
    border-radius: 20px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.linha:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    display: flex;
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #6c3404;
    height: 60px;
    border: 1.5px solid black;
}

.barra_de_sociais{
    display: flex;
    flex-direction: row;
}

.barra_de_sociais img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.titulosfooter{
    font-size: 15px;
    color: antiquewhite;
    text-decoration: none;
    margin-top: 15px;
}