body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #B87333;
}

.profile-container {
    background-color: #6F4E37;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

.profile-container p {
    margin: 5px 0;
    font-size: 18px;
    color: white;
}

.profile-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #B97A57;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-container button:hover {
    background-color: #0056b3;
}